*, html {
  font-family: 'Open Sans', sans-serif;  
}

header .container {
  padding: 30px 0;
  width: 940px;
  position: relative;
  margin: 0 auto;
}

header a h1 {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  font-weight: 800;
  display: inline-block;
  /*text-shadow: 3px 3px 3px #CCC;*/
  text-shadow: 0px 0px 15px #CCC;
}

.navbar {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 0;
}

.navbar-item {
  display: inline-block;
  margin-left: 20px;
}

.navbar-item a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}

.navbar-item a:hover {
  color: #CCC;
  text-decoration: underline;
}

.navbar-item a:active {
  color: #906258;
  font-weight: 900;
  text-decoration: underline;
}

.banner {
  width: 100%;
}

.main {
  background: linear-gradient(#CCC, #FFF);
}

.container {
  padding: 20px 0;
  width: 940px;
  margin: 0 auto;  
  line-height: 2em;  
}

.section-title {
  padding: 30px 0;
  font-size: 40px;
  font-weight: 800;  
  text-align: center;
}

.section-subtitle {
  font-size: 20px;
  font-weight: 600;
}

iframe {
  width: 940px;
  box-sizing: border-box;
}

#info {
  /*text-align: center; */
}

#info p strong {
  color: #906258;
  font-weight: 900;
}

.info-list {
  width: 71%;
  display: inline-block;
  vertical-align: top;  
  text-align: left;
  margin: 0 0 0 1.5%;
  box-sizing: border-box;
}

.info-list li:before {
  content: "✔ ";
}

.info-image:nth-child(1) {
/*  display: inline-block;*/
  float: left;
  width: 10%;
  margin: 0 1.5% 0 0;
  border-radius: 10px;
  box-sizing: border-box;  
}

.info-image:nth-child(2) {
  display: inline-block;
  width: 25%;
  margin: 0 0 0 1.5%;
  border-radius: 10px;
  box-sizing: border-box;  
}

.info-image:hover {
  opacity: 0.7;
}

p {
  margin-top: 0 !important;
}

#services {
  padding: 40px 0;  
  text-align: center;

}

#services .container h3 {
  font-size: 20px;
  font-weight: 600;
}

#services li {
 /* box-shadow: 5px 5px 15px 10px #CCC;*/
}

#services li:hover {
  background: linear-gradient(#FFF, #CCC);
  box-shadow: 5px 5px 15px 10px #CCC;
}

#services .price {
  font-size: 20px;
  font-weight: 600;  
  padding: 15px 0;  
}

#services .container li {
  display: inline-block;
  border: 3px solid #000;
  border-radius: 20px;
  padding: 20px 10px;
  margin: 0 1.4%;
  width: 30%;
  box-sizing: border-box;
}

#attendance {
  padding: 40px 0;  
  line-height: 3em;
}

#attendance table {
  width: 80%;  
  text-align: center;
  border: 3px solid #000;
  margin: 0 auto;
}

th, td  {
  border: 1px solid #000;
}

th {
  background: #906258;
  color: #FFF;
  font-weight: 900;
}

th {
  border-bottom: 3px solid #000;
}

tr:nth-child(2n) {
  background: #CCC;
}

#contact {
  padding: 40px 0;  
  
}

#contact p {
  text-align: center;
}

.form-element-large {
  display: block;
  width: 100%;
  padding: 20px 20px;  
  box-sizing: border-box;
}

.submit {
  font-weight: 900;
  margin: 2em auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #CCC;
  transition: 1s;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 1px solid #CCC ;
  border-radius: 5px;
}

.text-fields input, textarea {
  margin-bottom: 30px;
}

input:hover, textarea:hover {
  box-shadow: inset 0 0 10px #CCC;
}

input:focus, textarea:focus {
  background: #CCC;
}

fieldset:first-child {
  margin-bottom: 0;
} 

fieldset {
  margin: 0 0 30px 0;
}

fieldset label {
  display: block;
}

.submit:hover {
  background: #906258;
}

footer {
  background-image: url("../images/bg.jpg");
  border-top: 3px solid #555; 
}

footer .container {
  color: #FFF;
  text-align: center;  
}

footer > .container > p.row > strong {
  font-weight: 800;
}

.row:nth-child(2) {
  font-size: 12px;
}