header {
  
}

header h1 {
  font-size: 35px;
  font-weight: 900;
}

header .container {
  padding: 20px 0;
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.navbar {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 0;
}

.navbar-item {
  display: inline-block;
  margin-left: 20px;
}

.navbar-item a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

.navbar-item a:hover {
  color: #CCC;
  text-decoration: underline;
}

.navbar-item a:active {
  color: #906258;
  font-weight: 900;
  text-decoration: underline;
}

/*-- novas configs --*/
.header h1 {
  font-size: 30px;
  font-weight: 900;
  padding: 20px 20px;
}

.banner {
  width: 100%;
}

#info {
  background: #CCC;
  text-align: center;
  padding: 40px 0;
}

#info h2 {
  font-size: 25px;
  font-weight: 900;  
}

#info p strong {
  color: #906258;
  font-weight: 900;
}

#info .container {
  width: 940px;
  margin: 0 auto;
  line-height: 2em;
}

.info-plus-list {
  width: 46%;
  display: inline-block;
  vertical-align: top;  
  margin: 0 1.5%;
  box-sizing: border-box;
}

.info-plus-image {
  display: inline-block;
  width: 46%;
  margin: 0 1.5%;
  box-sizing: border-box;  
  border-radius: 10px;
}

.info-plus-list h3 {
  font-size: 18px;
  font-weight: bold;
}

.container {
  padding: 20px 0;
}

p {
  margin-top: 0 !important;
}

/*-- attendance --*/
#attendance h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 900; 
}

#attendance .container {
  width: 940px;
  margin: 0 auto;
}


/*-- contact --*/
#contact {
  padding: 40px 0;  
  line-height: 3em;
  /*text-align: center;*/
}

#contact .container {
  width: 940px;
  margin: 0 auto;
}

#contact h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 900; 
}

#contact p {
  text-align: center;
}

.form-element-large {
  display: block;
  width: 100%;
  padding: 20px 20px;  
  box-sizing: border-box;
}

.submit {
  font-weight: 900;
  margin: 2em auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #CCC;
  transition: 1s;
}

fieldset label {
  display: block;
}

.submit:hover {
  background: #906258;
}
/*-- footer --*/
footer {
  background-image: url("../images/bg.jpg");
  border-top: 3px solid #555; 
}

footer .container {
  color: #FFF;
  line-height: 1.5em;
  text-align: center;
  width: 940px;
  margin: 0 auto;
}